In [1]:
print("This is my first python program")

This is my first python program

In [2]:
a = 10
a

10

In [3]:
type(a)

int

In [4]:
b = "Raj"
b

'Raj'

In [5]:
type(b)

str

In [6]:
b = 'Shridhar'
b

'Shridhar'

In [7]:
type(b)

str

In [8]:
x = "53262njdcndckdc@@"
x

'53262njdcndckdc@@'

In [9]:
type(x)

str

In [10]:
print(x, b)

53262njdcndckdc@@ Shridhar

In [11]:
x

'53262njdcndckdc@@'

In [12]:
b

'Shridhar'

In [13]:
a

10

In [14]:
print(a, b, x)

10 Shridhar 53262njdcndckdc@@

In [15]:
a, b = 20, "raj"

In [16]:
a, b

(20, 'raj')

In [17]:
a

20

In [18]:
type(a)

int

In [19]:
type(b)

str

In [20]:
print(a,b)

20 raj

In [21]:
b2=1
b2

1

In [22]:
c = 1.2
c

1.2

In [23]:
type(c)

float

In [26]:
b = True
c = False

In [27]:
type(b)

bool

In [28]:
print(True+True+False+True)

3

In [30]:
print(False-True+True)

0

In [31]:
True+True

2

In [33]:
False+False

0

In [34]:
True*True

1

In [36]:
False/True

0.0

In [37]:
True/False

ZeroDivisionError: division by zero

In [39]:
n = 45+6j
n

(45+6j)

In [40]:
type(n)

complex

In [41]:
n.real

45.0

In [43]:
n.imag

6.0

In [44]:
1+"raj"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
"1"+"raj"

'1raj'

In [46]:
str(1)+"raj"

'1raj'

In [47]:
1+1.0

2.0

In [48]:
"raj"*3

'rajrajraj'

In [49]:
"raj"+"raj"+"raj"

'rajrajraj'

In [51]:
a = 10
a

10

In [52]:
a = input()

hachavdc

In [54]:
a = input("input an interger ")

input an interger hvhvjh

a = int(input("input an interger a "))
b = int(input("input an interger b "))
c = int(input("input an integer c "))
x = a+b/c
print(x)

In [1]:
a = int(input("input an interger a ")) 
b = int(input("input an interger b ")) 
c = int(input("input an integer c ")) 
x = a+b/c 
print(x)

input an interger a 20
input an interger b 30
input an integer c 40
20.75

In [ ]:
#if

In [2]:
a = int(input("enter a number lesser than 36--"))

enter a number lesser than 36--56

In [3]:
if a<34:
    pass

In [7]:
a = int(input("Enter a number"))
if a<34:
    pass
print("data is less than 34 and i am fine with it")

Enter a number65656
data is less than 34 and i am fine with it

In [11]:
a = int(input("Enter a number"))
if a<34:
    print("data is less than 34 and i am fine with it")
elif a<100:
    print(" data is less than 100")
else:
    print("Use input is not lesser than 34")

Enter a number30
data is less than 34 and i am fine with it

In [3]:
a = int(input("Enter your salary"))
if a>1000:
    print("i ll buy a car")
    if a>5000:
        print("I ll go for nano")
    elif a>10000:
        print("I ll go for maruti")
    else:
        print("I ll rent a car")
elif a>500:
    print("i ll go for bike")
elif a>100:
    print("i ll not buy anything")
else:
    print("i ll save the money")

Enter your salary9868767
i ll buy a car
I ll go for nano